.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mainbox {
    padding: 2rem;
    border: 1px solid #ccc;
  }
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    align-items: center;
    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin: 1rem;
    }
    :first-child {
      flex: 0 0 30%;
    }
  }
  .flextitle {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    width: 768px;
    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin: 1rem;
    }
    :first-child {
      flex: 0 0 30%;
    }
  }
  .flexitem {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin-bottom: 8px;
    }
  }
  .button {
    padding: 0.5rem;
  }
}

.dropdown, .datepicker {
  padding: 8px;
}

.input {
  width: 80%;
}
